/*//////////////////////////////////////
//
//  Front-End Book Recommender
// 
//    Michael Aboff
//    mwaboff@gmail.com
//    https://github.com/mwaboff
//
//    DSN6040 - Web Design and Javascript
//
//////////////////////////////////////*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #262626;
    font-family: 'Work Sans', sans-serif;
}

#container {
    display: flex;
}

/*Book Recommendation Page*/
#book_container {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#navbar {
    height: 100px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #888888;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#welcome_text_container {
    font-size: 50px;
    margin: 15px;
    align-self: center;

    font-weight: bold;
    color: #CCCCCC;
}

#book_age_selector {
    width: 300px;
    height: 55px;
    align-self: center;

    background: #444444;
    margin: 10px;

    color: #EFEFEF;
    font-size: 25px;

    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-radius: 5px;

    outline: none;
}

#book_recommendations {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    justify-items: center;
}

/*Loading Gif*/
#loading_gif {
    height: 50px;
    width: 90px;
}

/*Book*/
.book {
    height: 200px;
    width: 130px;
    background: red;
    filter: drop-shadow(5px 5px 5px #000000);
    display: inline-block;
    background-size: contain;
    margin: 5px;
}

.book:hover {
    filter: brightness(90%);
}

.book:active {
    filter: brightness(60%);
}


/*Helper*/
.hidden {
    display: none !important;
}


/*Signature*/
.signature {
    color: #EFEFEF;
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;

    padding: 5px;
    font-family: 'Work Sans', sans-serif;
}